{
    "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["@babel/plugin-proposal-optional-chaining", { "loose": true }],
      ["@babel/plugin-proposal-class-properties", { "loose": false }],
    ],
    "assumptions": {
        "setPublicClassFields": false
    },
    "presets": [
      [
        "@babel/preset-env"
      ],
      "@babel/preset-react",
      "@babel/preset-typescript"
    ]
  }